$font-family: "Lato", sans-serif;
$primary-color: #333;
$text-color: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}

body {
  font-family: $font-family;
  color: $text-color;
  background: white;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 93vw;
}

.container {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 4vh;
}

.header {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
  width: 100%;

  .logo {
    display: flex;
    justify-content: start;
    align-content: center;
    cursor: pointer;
    width: 30%;
    img {
      width: 100%;
    }
  }

  .header-login-wrapper {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    gap: 6px;
    color: #000050;
    font-weight: 400;
    font-size: min(2vw, 15px);
    width: 20%;

    p {
      display: flex;
      align-content: center;
      justify-content: center;
      text-align: center;
      background-color: #fff;
      width: fit-content;
      margin-top: 15%;
      padding: 15px 25px;
      border-radius: 15px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      transition-duration: 400ms;
      &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  background: #374147;
  width: 100%;

  .menu {
    li {
      display: inline-block;
      position: relative;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        color: #fff;
        background: #9ca3da;
        & > ul {
          visibility: visible;
          opacity: 1;
          transform: translate(0, 0);
        }
      }
      a {
        font-weight: 600;
        text-decoration: none;
        padding: 20px 15px;
        display: block;
        color: #fff;
        transition: all 0.2s ease-in-out 0s;
        &:hover {
          color: #fff;
          background: #9ca3da;
        }
      }
    }

    ul {
      visibility: hidden;
      opacity: 0;
      margin: 0;
      padding: 0;
      width: 170px;
      position: absolute;
      left: 0px;
      background: #fff;
      z-index: 99;
      transform: translate(0, 20px);
      transition: all 0.2s ease-out;
      &:after {
        bottom: 100%;
        left: 20%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 6px;
        margin-left: -6px;
      }
      li {
        display: block;
        float: none;
        background: none;
        margin: 0;
        padding: 0;

        a {
          font-size: 12px;
          font-weight: normal;
          display: block;
          color: #ffffff;
          background: #374147;

          &:hover {
            background: #9ca3da;
            color: #fff;

            & > a {
              background: #9ca3da;
              color: #fff;
            }
          }
        }
      }
      ul {
        left: 169px;
        top: 0px;
        visibility: hidden;
        opacity: 0;
        transform: translate(20px, 20px);
        transition: all 0.2s ease-out;

        &:after {
          left: -6px;
          top: 10%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 255, 255, 0);
          border-right-color: #fff;
          border-width: 6px;
          margin-top: -6px;
        }
      }
    }
    li > ul ul:hover {
      visibility: visible;
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;

    .search {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      color: #ffffff;
      font-family: $font-family;
      font-size: 15px;
      border-radius: 50px;
      border: 1px solid #ffffff;
      padding: 10px min(10px, 1vw);
      transition: all 250ms ease-in-out;
      &::placeholder {
        font-size: 15px;
        color: #ffffff;
        font-family: $font-family;
      }
      &:hover,
      &:focus {
        padding: 15px min(8px, 1vw);
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #ffffff;
        border-radius: 0;
        background-position: 100% center;
      }
    }
    .svg-container {
      padding: 2px;
      font-size: max(15%, 25px);
      &:hover {
        cursor: pointer;
        transition: all 200ms ease-in;
        transform: scale(1.1);
      }
    }
  }
}

.paramsearchtable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  td {
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 20px;
  }

  div {
    color: #666;
    display: block;
    padding: 5px;
  }

  .title {
    margin-bottom: 5px;
    color: #000;
    font-weight: 700;
    padding: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.409);
  }

  tr {
    display: inline-block;
  }

  .sortedItem {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .bubble {
    color: black;
    margin-top: 35px;
    min-width: fit-content;
    position: absolute;
    width: 150px;
    background-color: #fff;
    border: 2px solid #666;
    padding: 5px;
    z-index: 999;
    animation: popup 0.2s ease-out;
  }

  .openBubble {
    &:hover {
      cursor: pointer;
      color: rgb(154, 154, 154);
      text-decoration: underline;
    }
  }
}

.filters {
  display: flex;
  justify-content: center;
  align-content: center;
}

.paramswrapper {
  height: max-content;
  width: 100%;
  background: linear-gradient(white, whitesmoke);
  background-size: 180% 180%;
  border-radius: 10px;
  padding: 15px 0;
  margin-top: 20px;
}

.mid-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: min(2vw, 16px);

  .sorts-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    width: 50%;

    .sortList {
      text-align: center;
      white-space: nowrap;
      color: #666;

      div {
        display: inline-block;
        color: #666;

        &:hover {
          cursor: pointer;
          color: #ccc;
          text-decoration: underline;
        }
      }

      span {
        color: #ccc;
        padding-right: 4px;
        padding-left: 4px;
        white-space: nowrap;
      }
    }

    #filterList {
      text-align: center;
      color: #666;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      gap: 2vh;
    }
    .filtersContainer {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 2vh;

      .filterItem {
        white-space: nowrap;
        display: inline-block;

        &:hover {
          cursor: pointer;
          color: rgb(228, 108, 108);
          text-decoration: underline;
          font-weight: bold;
        }
      }
    }
  }
}

#productList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;

  .laptop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-family: $font-family;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px 5px;
    font-size: min(2vw, 16px);
    width: 90%;

    .itemImg {
      max-height: 100%;
      max-width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      // Play with justify content to see the difference
      justify-content: space-between;
      align-items: center;
      max-width: 60%;
      height: 100%;
      .title {
        height: max-content;
        color: rgb(4, 0, 54);
        width: 100%;
        font-size: 1.2em;
      }

      .specs {
        width: 100%;
      }

      .buttonsContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 4%;
      }
    }

    .stylishInfo {
      display: flex;
      flex-direction: column;
      // change this later.
      justify-content: center;
      align-items: center;
      height: 150px;
      width: 12.5%;
      gap: 10%;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .serial {
        width: 100%;
        text-align: center;
        font-size: 0.8em;
      }

      .logoImg {
        width: min(100%, 100px);
      }

      .price {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.4em;
      }
    }
  }
}

@keyframes popup {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  30% {
    transform: scale(1.2);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.6;
  }
  80% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
