button {
  margin: 20px;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 8px;
  background-color: antiquewhite;
  border: 2px solid rgb(221, 165, 91);
  transition: scale(padding) 0.5s linear;
  transition: transform 0.5s;
}

button:hover {
  transform: scale(1.4);
  background-color: lightsalmon;
}
/* 
  Add 0.5 second transition to the width, height and background-color of the button, when hovered.
   Try to leave the button centered at the same location.
 */
